h1{
	color:white;
	font-size:40px;
}

body{
	background-color: #5b3333;
}

 a:link{
	color:white;
	text-decoration: none;
}

a:visited{
	color:white;
	text-decoration: none;
}

a:hover{
	color:white;
	text-decoration: underline;
}

.site_name{
	writing-mode: vertical-rl;
	color:white;
	font-size:50px;
	text-align: center;
}

.current_page{
	font-style: italic;
	font-weight:bold;
}

.other_page{
	color: white;
}

.content{
	display: block;
	margin-right:8%;
	position: relative;
	
	/*overflow:scroll;*/
}

/*information for making sidebar from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
#nav_tab{
	display: block;
	height: 100%;
	width:8%;
	text-align: left;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #8b4646;
	border-style: double;
	border-color: black;
	border-width: 0.5em;
	min-width: 120px;
	font-size:20px;
	color:white;
	/*overflow:scroll;*/
}

/* attempted to make a top bar, but couldn't get it to work. Decided to scrap it and work on other parts

#top_bar{
	width:94%;
	background-color: #8b4646;
	color:white;
	font-size:60px;
	right:0;
	text-align: left;
	border-style: double;
	border-color: black;
	border-width: 10px;
	padding-left:5%;
	margin-left:0%;
	margin-bottom:5%;
	z-index: 2;
	top: 0;
	left: 0;
	position: fixed;
	display:block;
}
*/

/*
 *	Parts of product table
 */
 div(
 #display: block;
 )
 th, td{
	padding-right:1em;
	padding-left: 1em;
	width: 33%;
	text-align:center;
 }
 
 td img{
	text-align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
 }
 
 #photo_set{
	width:90%;
	padding-left:3%;
 }
.photo_name{
	font-size:40px;
	text-align:center;
	text-decoration:underline;
	border-style: solid;
	border-color: black;
	background-color: #8b4646;
	border-width: 3px;
	color: white;
	width: 33%;
}
.photo_desc{
	margin-left: auto;
	margin-right: auto;
	background-color: #8b4646;
	border-style: solid;
	border-color: black;
	border-width: 0.15em;
	text-align:justify;  
    text-justify:inter-word;
	width: 33%;
}

.bunny_img{
	width: 90%;
	background-color: #8b4646;
	border-style: double;
	border-color: black;
	border-width: 1em;
}

